img {
    width: 20px;
    height: 20px
}

#hiddenSpace {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}

div#popup {
position:absolute;
left:50%;
top:20%;
margin-left:-120px;
}
#form {
    max-width:300px;
    max-height: 500px;
    overflow: auto;
    min-width:250px;
    min-height: 150px;
    padding:10px 20px;
    border:2px solid gray;
    border-radius:10px;
    background-color:#fff
}

#form h3{
background-color:#FEFFED;
padding:20px;
margin:-10px -20px;
text-align:center;
border-radius:10px 10px 0 0
}

#form td{
padding:10px;
}

#form hr {
margin:10px -20px;
border:0;
border-top:1px solid #ccc
}

#form img {
    opacity: .7;
    width: 23px;
    height: 23px;
    margin-left: 10px
}

#form img:hover {
    cursor: pointer;
    opacity: 1
}

img#close {
opacity: .9;
position:absolute;
right:-14px;
top:-14px;
cursor: pointer;
width: auto;
height: auto
}

#form input[type=button] {
    width: 90%;
    margin: 10px;
}

#chatusers img {
    opacity: .7;
    margin-left: 10px
}

#chatusers img:hover {
    cursor: pointer;
    opacity: 1
}